@keyframes appear {
    0% {
        opacity: 0;
        top: 35px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}
.wrapper {
    list-style: none;
    padding: 50px 20px;
    display: flex;
    align-items: center;
    position: relative;
    animation: appear .5s ease;
}
.image {
    flex-shrink: 0;
    margin-right: 50px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
}
.imageNone {
    @extend .image;
    background-image: url(https://picsum.photos/200/300);
    background-repeat: no-repeat;
    background-size: cover;
}

.description {
    font-size:20px;
}
.button {
    font-size: 10px;
    text-decoration: none;
    border: 0.5px solid #5c2a02;
    padding: 10px;
}
